.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". North . ." "West Button East ." ". South . .";
  width: 100px;
  margin: auto;
  font-size: 45px;
  text-align: center;
}

.North {
  grid-area: North;
  color: green;
}

.South {
  grid-area: South;
  color: rebeccapurple;
}

.East {
  grid-area: East;
  color: darksalmon
}

.West {
  grid-area: West;
  color: darkgoldenrod;
}

.Button {
  grid-area: Button;
}
